
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
          <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">
            </div>
             <div class="container">
            <div class="content-center brand">
<div class="slider">
  
  <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus2.png"/>
    <figcaption class="slider__caption">Inrecar 916 Año 2021</figcaption>
  </figure>
  <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus3.png"/>
    <figcaption class="slider__caption">Marcopolo 916 año 2020</figcaption>
  </figure>
  <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus4.png"/>
    <figcaption class="slider__caption">Inrecar 916 año 2021</figcaption>
  </figure>
  <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus5.png"/>
    <figcaption class="slider__caption">Caio 916 año 2021</figcaption>
  </figure>
  <div class="slider__btn"></div>

</div>
</div></div>
</div>
</div>