<div class="wrapper">
  <div class="page-header clear-filter" >
    <div class="page-header-image"  style="background-image: url('assets/img/header.jpg');background-size: cover; background-position: top center; min-height:100px;">>

    </div>
      <div class="container">
          <div class="content-center brand">
                <div class="content-center">
              <img class="n-logo" src="assets/img/now-logo.png" alt="">
              </div>
              <h5 style='text-align: justify;'>Transportes Montes es reconocida en San Antonio, por ofrecer un exclusivo servicio de transporte privado dentro de la ciudad de San Antonio y a otros puntos de chile, se especializa en transportes de pasajeros, transporte de personal y viajes especiales dentro y fuera de la comuna.
                    Actualmente somos una empresa confiable, responsable y segura, contamos con una vasta experiencia en transporte de pasajeros, trabajadores y alumnos, trabajamos con personal capacitado y experimentado.
                    Nuestra flota está compuesta por buses y minibuses de 1 hasta 32 pasajeros, tenemos total disponibilidad para que conozca nuestros servicios.
                    </h5>
                    <div class="container">
                    <div class="typography-line">
                            <span><i class="now-ui-icons transportation_bus-front-12" style="font-size: 60px; line-height: 50px; height: 50px; width: 50px;"></i></span>
                            
        
        
        
        
                        </div>
                    </div>

          </div>
         
      </div>

      
  </div>

 
      

  <div class="main">
    <div class="section section-images" style="padding-top: 1%">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-images-container" >
                        <img src="assets/img/hero-image-1.png" alt="">
                    </div>
                     
                </div>
            </div>
        </div>
    </div>
  
  </div>
  <footer class="footer" data-background-color="black" >
        <div class="container text-right" >
                <a target="_blank" href="https://www.twitter.com/transportesMontes" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/transportesMontes" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/transportesMontes" class="btn btn-neutral btn-icon btn-instagram btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-instagram"></i>
                  </a>
        </div>
    <div class="container text-right" >
          
          
            Email:
              <a target="_blank">Montespucara@hotmail.com</a>
      </div>
      <div class="container text-right" >
          
          
            Telefono:
              <a target="_blank">+569 89040523</a>
      </div>
  </footer>
</div>
