
<div class="wrapper">
        <div class="page-header clear-filter" >
          <div class="page-header-image " style="background-image: url('assets/img/header.jpg');">
           
        </div>
            <div class="content-center brand">
                    <img class="n-logo" src="assets/img/now-logo.png" alt="">

                    <div class="container">
                            <h3 class="h1-seo">Transportes Montes</h3>
                    </div>
            
                    <div class="slider" >
                    
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus2.png"/>
                        <figcaption class="slider__caption">Inrecar 916 Año 2021, capacidad 36 asientos</figcaption>
                    </figure>
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus3.png"/>
                        <figcaption class="slider__caption">Marcopolo 916 año 2020, capacidad 36 asientos</figcaption>
                    </figure>
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus4.png"/>
                        <figcaption class="slider__caption">Inrecar 916 año 2021, capacidad 36 asientos</figcaption>
                    </figure>
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus5.png"/>
                        <figcaption class="slider__caption">Caio 916 año 2021, capacidad 36 asientos</figcaption>
                    </figure>
                    <div class="slider__btn"></div>

                    </div>
            </div>
</div>
<div class="main">
        <div class="section section-images">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hero-images-container">
                            <img src="assets/img/hero-image-1.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
</div>
<footer class="footer" data-background-color="black" >
        <div class="container text-right" >
                <a target="_blank" href="https://www.twitter.com/transportesMontes" class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fab fa-twitter"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/transportesMontes" class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-facebook-square"></i>
                  </a>
                  <a target="_blank" href="https://www.facebook.com/transportesMontes" class="btn btn-neutral btn-icon btn-instagram btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fab fa-instagram"></i>
                  </a>
        </div>
    <div class="container text-right" >
          
          
            Email:
              <a target="_blank">Montespucara@hotmail.com</a>
      </div>
      <div class="container text-right" >
          
          
            Telefono:
              <a target="_blank">+569 89040523</a>
      </div>
  </footer>
</div>

