
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper">
        <div class="page-header clear-filter" >
          <div class="page-header-image " style="background-image: url('assets/img/header.jpg');">
           
        </div>
            <div class="content-center brand">
                    <img class="n-logo" src="assets/img/now-logo.png" alt="">

                    <div class="container">
                            <h3 class="h1-seo">Transportes Montes</h3>
                    </div>
            
                    <div class="slider" >
                    
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus2.png"/>
                        <figcaption class="slider__caption">Inrecar 916 Año 2021, capacidad 36 asientos</figcaption>
                    </figure>
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus3.png"/>
                        <figcaption class="slider__caption">Marcopolo 916 año 2020, capacidad 36 asientos</figcaption>
                    </figure>
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus4.png"/>
                        <figcaption class="slider__caption">Inrecar 916 año 2021, capacidad 36 asientos</figcaption>
                    </figure>
                    <figure class="slider__item"><img class="slider__image" src="assets/img/taxibus5.png"/>
                        <figcaption class="slider__caption">Caio 916 año 2021, capacidad 36 asientos</figcaption>
                    </figure>
                    <div class="slider__btn"></div>

                    </div>
            </div>
</div>
<div class="main">
        <div class="section section-images">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="hero-images-container">
                            <img src="assets/img/hero-image-1.png" alt="">
                        </div>
                         <!--div class="hero-images-container-1">
                            <img src="assets/img/hero-image-2.png" alt="">
                        </div>
                        <div class="hero-images-container-2">
                            <img src="assets/img/hero-image-3.png" alt="">
                        </div-->
                    </div>
                </div>
            </div>
        </div>
</div>
<footer class="footer" data-background-color="black">
        <div class="container">
            
            <div class="copyright">
                &copy;
              {{data | date: 'yyyy'}}, Designed by
                <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                <a href="https://www.creative-tim.com" target="_blank">Transportes Montes</a>.
            </div>
        </div>
    </footer>
</div>

